/*CSS variables*/
:root {
    --primary: antiquewhite;
    --dark: dimgray;
    --light: darkolivegreen;
    --shadow: 3px 3px 3px rgba(0, 0, 0, 0.8); /*(104, 104, 104, 0.2);*/   
}
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}
body {
    background: darkcyan;
    margin: 30px 50px;
    line-height: 1.4;
}
.btn {
    background: var(--dark);
    color: var(--primary);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
img {
    max-width: 100%;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
}
/*navigation*/
.main-nav ul {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);

}
.main-nav a{
    background: var(--primary);
    display: block; 
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}
/*top container*/
.top-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background:	url(https://images.unsplash.com/photo-1627933650306-e69b1ac3deeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80);
	/*https://www.pexels.com/photo/photo-of-people-doing-handshakes-3183197/ url(https://www.pexels.com/photo/photo-of-people-doing-handshakes-3183197/);
	url(https://images.unsplash.com/photo-1611094016919-36b65678f3d6?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDI2fFJfRnluLUd3dGx3fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);*/
	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
	
.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--primary);
}
.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--primary);
}
/*top box*/

.top-box-a {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: top-box-a;
    background: var(--primary);
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box-b {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: top-box-b;
    background: var(--primary);
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.price {
    font-size: 2.5rem;
}
/*boxes*/
.boxes {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}
/*info section*/
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 10px;
    grd-template-columns: 2fr 1fr;/*repeat(2, 1fr);*/
    padding: 3rem;
}
.info img {
    width: 100%;
    box-shadow: var(--shadow);
}
.info .uno {
	margin-top: 30px;
}

/*portfolio section*/
.portfolio {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}
/*footer*/
footer {
    margin-top: 2rem;
    background: var(--primary);
    color: var(--dark);
    text-align: center;
    padding: 1rem;
	font-size: 1.5rem;
}
/*media queries - hacemos para 700 o menos, y para 500 o menos.

En 700 max width queremos que:
1. las grid areas pasen a dos columnas, arriba la foto y debajo los boxes a y b
2. las letras h1 se achiquen
3. cada opcion de menu ocupe todo el row, se pongan uno debajo del otro
4. en info lo mismo, además que el button ocupe todo el row
*/

@media (max-width: 700px){
    .top-container{
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b';
    }
    .showcase h1 {font-size: 2.5rem;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}
/*para max 500px queremos:
1. una columna en showcase
*/

@media (max-width: 500px) {
    .top-container{
        grid-template-areas:
            'showcase'
            'top-box-a'
            'top-box-b';
    }
}